In [78]:
import pickle
import numpy as np
import pandas as pd

In [173]:
with open('clean_data.pickle','rb') as f:
    d = pickle.load(f)
    X = d['X']
    y = d['y']
    del(d)

In [174]:
X.isna()

,INSTNM,HCM2,MAIN,NUMBRANCH,HBCU,MENONLY,WOMENONLY,ADM_RATE,SATVR25,SATVR75,...,STABBR_TX,STABBR_UT,STABBR_VA,STABBR_VI,STABBR_VT,STABBR_WA,STABBR_WI,STABBR_WV,STABBR_WY,STABBR_nan
0,False,True,False,False,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11333,False,True,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
11334,False,True,False,False,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11335,False,True,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
11336,False,True,False,False,True,True,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
11337,False,True,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [175]:
non_empty_cols = (X.isna().sum() / X.shape[0]) != 1
non_empty_col_names = [col for col, v in non_empty_cols.to_dict().items() if v]

In [176]:
X = X[non_empty_col_names]

In [177]:
len(X.columns)

292

In [178]:
col_pct = (X.isna().sum() / X.shape[0])

In [179]:
col_pct_nonzero = pd.Series({c: p for c, p in col_pct.to_dict().items() if p > 0})

In [180]:
col_pct_nonzero.sort_values(ascending=False)

TUITIONFEE_PROG     0.983322
PRGMOFR             0.983233
ACTWR75             0.983233
ACTWRMID            0.983233
ACTWR25             0.983233
SATWR25             0.899576
SATWR75             0.899576
SATWRMID            0.899576
PCTPELL             0.860042
COMPL_RPY_1YR_RT    0.757324
ACTMTMID            0.617279
ACTMT75             0.617279
ACTMT25             0.617190
ACTEN75             0.616396
ACTENMID            0.616396
ACTEN25             0.616308
UG25ABV             0.565743
ACTCMMID            0.532474
ACTCM75             0.532474
ACTCM25             0.532386
SATVRMID            0.504412
SATVR75             0.504324
SATVR25             0.504324
SATMTMID            0.503089
SATMT75             0.503089
SATMT25             0.503000
ADM_RATE            0.369132
C150_4              0.354748
GRAD_DEBT_MDN       0.136604
TUITIONFEE_OUT      0.022238
TUITIONFEE_IN       0.022238
AVGFACSAL           0.005824
INEXPFTE            0.002383
PFTFAC              0.001500
dtype: float64

In [181]:
naive_impute_avg = [
    "PFTFAC",
    "INEXPFTE",
    "AVGFACSAL",
    "GRAD_DEBT_MDN",
    "C150_4",
    "ADM_RATE",
]
for col in naive_impute_avg:
    X[f"{col}_ISNA"] = X[col].isna().astype(int)
    X[col].fillna(X[col].mean(), inplace=True)

In [182]:
X

,INSTNM,MAIN,NUMBRANCH,ADM_RATE,SATVR25,SATVR75,SATMT25,SATMT75,SATWR25,SATWR75,...,CCSIZSET_15.0,CCSIZSET_16.0,CCSIZSET_17.0,CCSIZSET_nan,PFTFAC_ISNA,INEXPFTE_ISNA,AVGFACSAL_ISNA,GRAD_DEBT_MDN_ISNA,C150_4_ISNA,ADM_RATE_ISNA
0,Alabama A & M University,Main campus,1.0,0.5575,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,University of Alabama at Birmingham,Main campus,1.0,0.9117,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
2,University of Alabama in Huntsville,Main campus,1.0,0.9050,500.0,630.0,510.0,640.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Alabama State University,Main campus,1.0,0.6931,340.0,460.0,340.0,460.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,The University of Alabama,Main campus,1.0,0.8462,490.0,620.0,490.0,620.0,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11333,Pierpont Community and Technical College,Main campus,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1
11334,University of California-Merced,Main campus,1.0,0.8957,440.0,570.0,470.0,610.0,440.0,570.0,...,0,0,0,0,0,0,0,0,1,0
11335,Pima Medical Institute-Las Vegas,Not main campus,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,1
11336,Johnson & Wales University-Charlotte,Not main campus,4.0,0.6337,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
11337,West Hills College-Lemoore,Main campus,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,1